:root {
    --white: #ffffff;
    --bg: #000000;
    --blue: #2797dd;
    --grey: #6e767d;
    --pink: #f72381;
    --baseFont: 'Poppins', sans-serif;
    --body1-regular: 400 1rem/1.75rem var(--baseFont);
    --body1-bold: 700 1rem/1.75rem var(--baseFont);
    --body2-bold: 700 0.75rem/1.5rem var(--baseFont);
    --body2-regular: 400 0.75rem/1.375rem var(--baseFont);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--baseFont);
    background-color: var(--bg);
    color: var(--white);
}

.wrapper {
    max-inline-size: 700px;
    margin: auto;
}

.tweet-card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid var(--grey);
    width: 100%;
    padding: 1rem;
    margin-block-start: 70px;
}

.profile-picture {
    max-block-size: 48px;
    max-inline-size: 48px;
}
.profile-picture img {
    block-size: 100%;
    inline-size: 100%;
}

.tweet-body .tweet-username {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tweet-username .name {
    font: var(--body2-bold);
}

.tweet-username .at {
    font: var(--body2-regular);
    color: var(--grey);
}

.tweet-bodyContent {
    font: var(--body2-regular);
}

.bodyContent-link {
    color: var(--blue);
}

.bodyContent-card {
    color: unset;
    text-decoration: none;
    border: 1px solid var(--grey);
    border-radius: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}

.card-title,
.card-description {
    font: var(--body2-regular);
}

.card-img {
    inline-size: 92px;
    block-size: 82px;
    aspect-ratio: 1 / 1;
}

.card-img img {
    inline-size: 100%;
    block-size: 100%;
}

.card-content {
    padding-inline-end: 1rem;
}

.card-source {
    color: var(--grey);
}

.card-description {
    display: none;
}

.bodyContent-likeButton {
    display: flex;
    align-items: center;
}

.likeButton {
    block-size: 48px;
    inline-size: 48px;
    border: none;
    background-color: var(--bg);
    background-image: url('../img/heart.png');
    background-size: 1450px 48px;
}

.is-liked {
    animation: like 1s steps(28, end) forwards;
}

@keyframes like {
    100% {
        background-position-x: -2800px;
    }
}

@media screen and (min-width: 768px) {
    .profile-picture {
        max-block-size: 64px;
        max-inline-size: 64px;
    }

    .tweet-body .tweet-username {
        flex-direction: row;
    }

    .tweet-username .name {
        font: var(--body1-bold);
    }
    .tweet-username .at {
        font: var(--body1-regular);
    }

    .tweet-bodyContent {
        font: var(--body1-regular);
    }

    .card-title,
    .card-description {
        font: var(--body1-regular);
    }

    .card-description {
        display: block;
        font: var(--body1-regular);
        color: var(--grey);
    }

    .card-source {
        display: none;
    }

    .card-img {
        inline-size: 160px;
        block-size: 144px;
        aspect-ratio: 1 / 1;
    }

    .card-img img {
        inline-size: 100%;
        block-size: 100%;
    }
}
